body {
  background: orange;
}

/* animation btn*/
.btnSli{
  position: relative;
}

/*gradiant btn */
.btnStyle{
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  color: white;
  padding: 15px 80px;
  filter: blur(0.7px);
  background: linear-gradient(to left top, #ff0000a3, #e914e4);
}